.loader {
    border: 5px solid #f3f3f345;
    border-radius: 50%;
    border-top: 5px solid #00eeff;
    border-bottom: 5px solid #00eeff;
    width: 36px;
    height: 36px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}