.input {
    outline: none;
    padding: 0.6em 1em;
    border: 1px solid rgb(185, 185, 185);
    background-color: rgb(247, 247, 247);
    color: #001122;
    width: 100%;
    font-size: 1em;
}

.error {
    color: #ff0000 !important;
    color: #ff0000 !important;
    border: 2px solid #ff0000;
}