.row {

    td {
        padding: 1em;
    }

    .info {
        width: 100%;
        word-break: break-all;
    }

    .change {
        text-align: right;
        text-decoration: underline;
        cursor: pointer;
    }
}