.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .rightcol {
        display: flex;
        min-width: 40%;
        justify-content: center;

        .content {
            display: flex;
            align-items: center;
            z-index: 1;
            flex-direction: column;
            border-radius: 5px;
            padding: 1em;
            background-color: #fff;
            width: 360px;
            box-shadow: -7px 5px 71px -23px rgba(0, 0, 0, 0.63);
            -webkit-box-shadow: -7px 5px 71px -23px rgba(0, 0, 0, 0.63);
            -moz-box-shadow: -7px 5px 71px -23px rgba(0, 0, 0, 0.63);
            margin: 1em;
            border: 1px solid rgb(160, 160, 160);

            h1,
            small {
                color: #001122;
            }

            a {
                color: #0093b8;
            }

            >* {
                width: 100%;
                font-weight: 400;
            }

            .submit {
                background-color: #001122;
                color: #fff;
                padding: 0.5em;
                text-align: center;
                font-size: 1.1em;
                font-weight: 500;
                cursor: pointer;
                width: 100%;
            }
        }
    }

}

@media (max-width:869px) {
    .container {
        .leftcol {
            display: none;
        }
    }

}