.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .backgroundImage {
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }

    .leftcol {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        gap: 10px;
        width: 100%;
        height: 100%;
        padding: 1em;

        >div {
            position: relative;
        }

        .one {
            grid-column: 1 /3;
            grid-row: 2 / 4;
        }

        .two {
            grid-column: 3 /4;
            grid-row: 1 / 4;
        }

        .three {
            grid-column: 1 / 4;
            grid-row: 1 / 3;
        }

        .four {
            grid-column: 2 / 4;
            grid-row: 3 / 5;
        }
    }

    .rightcol {
        display: flex;
        min-width: 40%;
        justify-content: center;

        .content {
            display: flex;
            align-items: center;
            z-index: 1;
            flex-direction: column;
            border-radius: 5px;
            padding: 1em;
            background-color: #fff;
            width: 360px;
            box-shadow: -7px 5px 71px -23px rgba(0, 0, 0, 0.63);
            -webkit-box-shadow: -7px 5px 71px -23px rgba(0, 0, 0, 0.63);
            -moz-box-shadow: -7px 5px 71px -23px rgba(0, 0, 0, 0.63);
            margin: 1em;
            border: 1px solid rgb(160, 160, 160);

            >* {
                width: 100%;
                font-weight: 400;
                border-radius: 5px;
            }

            >input {
                font-size: 1em;
                outline: none;
                padding: 0.6em 1em;
                margin-bottom: 0.8em;
                border: 1px solid rgb(185, 185, 185);
                background-color: rgb(247, 247, 247);
            }

            .submit {
                background-color: #001122;
                color: #fff;
                padding: 0.5em;
                text-align: center;
                font-size: 1.1em;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }

}

@media (max-width:970px) {
    .container {
        .leftcol {
            display: none;
        }
    }

}