.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .backgroundImage {
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }


    .content {
        display: flex;
        align-items: center;
        z-index: 1;
        flex-direction: column;
        border: 2px solid #FF0066;
        border-radius: 5px;
        padding: 4em;
        background-color: #fff;

        >* {
            margin: 0.4em;
            width: 100%;
        }

        >input {
            font-size: 1em;
            outline: none;
            padding: 0.4em;
        }

        .submit {
            border: 1px solid #FF0066;
            padding: 0.4em;
        }
    }
}