.container {
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
        * {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2em;
        }
    }

    .middle {
        display: flex;

        a>* {
            margin-right: 2em;
            cursor: pointer;
            padding: 1em;
        }
    }

    .rightcol {
        display: flex;

        .cartContainer {
            &:hover {
                background-color: #ffffff;
                color: #000 !important;

                .shopping_cart {
                    color: #000 !important;
                }
            }

            display: flex;
            align-items: center;
            border: 1px solid #ffffff;
            padding: 0.5em 1em;
            border-radius: 0.5em;
            cursor: pointer;

            .shopping_cart {
                font-size: 1.3em;


            }
        }
    }

    .line {
        width: 1px;
        background-color: #dadada;
    }
}

@media (max-width:869px) {
    .container {
        .middle {
            display: none;
        }
    }
}

@media (max-width:569px) {
    .container {
        .rightcol {
            .cartContainer {
                display: none;

            }
        }
    }
}