.header {
    text-align: center;
    padding: 1em;
}
.info {
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border: 1px solid #fff;
    cursor: pointer;
    &:hover {
        background-color: #fff;
        * {
            color: #000 ;
        }
    }
}